// _colors.scss
$TEXT_PRIMARY: rgba(255, 255, 255, 0.87);
$BACKGROUND_DARK: #242424;
$BACKGROUND_GRAY: #353535;
$BORDER_GRAY: #4e4e4e;
$LINK: #646cff;
$ELEMENTS: #4a53ff;
$LINK_HOVER: #535bf2;
$BUTTON_BG: #1a1a1a;
$ELEMENTS_BG: #1a1a1a;
$BUTTON_BORDER_HOVER: #646cff;
$TEXT_LIGHT: #213547;
$BACKGROUND_LIGHT: #ffffff;
$LINK_HOVER_LIGHT: #747bff;
$BUTTON_BG_LIGHT: #f9f9f9;
